body{
  background-color: #EAF6F6;
}
hr{
  border-style: dotted none none;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}
h3{
  color: #66BFBF;
}
h1{
  color: #66BFBF;
}
/* unvisited link */
a:link {
  color: #66BFBF;
}

/* visited link */
a:visited {
  color: #66BFBF;
}

/* mouse over link */
a:hover {
  color: #033c96;
}

/* selected link */
a:active {
  color: #033c96;
}
